@import url('https://fonts.googleapis.com/css?family=PT+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Catamaran');


:root {
	--accent-color: hsl(211, 97%, 72%);
}
html{
	margin:0;
	padding:0;
	border: none;
}
body {
	font-family: 'Roboto', sans-serif;
	background-color: rgb(38, 38, 38);
	color: #3a3f52;
	margin:0;
	padding:0;
}

h2 {
	font-size: 44px;
	font-weight: 700;
}

h3 {
	font-size: 24px;
	font-weight: 500;
}

h4 {
	font-family: Roboto;
	font-weight: 1;
}

p {
	font-size: 16px;
	font-weight: 400;
	letter-spacing: .05em;
	color: #53627C;
}


ul {
	list-style-type: none;
	padding-left: 0px;
}

b {
	font-weight: 700;
}

section {
	padding: 75px 0px;
}

img {
	width: 100%;
	height: auto;
}

table{
	margin-bottom: 25px;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
  }


.title-block {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	text-align: center;
}

.title-block p {
	font-size: 20px;
	font-weight: 300;
	color: #8da2b5;
	margin-bottom: 0px;
}

.divider {
	padding: 2rem 0 0;
	margin: 2rem 0 0;
	border-top: 1px solid #3c3f45;
}

.divider-light {
	padding: 2rem 0 0;
	margin: 2rem 0 0;
	border-top: 1px solid #edf1f2
}

.container {
	display: block;
	margin: 0 auto;
}

/* ==============================================
   Border
===============================================*/

.border {
	padding: 40px 70px;
	margin:0 ;
	border:none  !important;
}

/* ==============================================
   Navbar 
===============================================*/

#main-menu {
	background-color: white;
}

#main-menu .nav-bar {
	width: 100%;
	text-align: center;
	list-style: none;
	padding-right: 25px;
	padding-bottom: 15px;
	margin: 0;
}

#main-menu .nav-bar li {
	display: inline-block;
	*display: inline;
	/*IE7*/
	*zoom: 1;
	/*IE7*/
	display: inline;
	padding: 0 5px;
	margin: 0;
}

#main-menu .nav-bar li a {
	text-decoration: none;
	padding-left: 25px;
	text-transform: uppercase;
	font-family: PT Mono, serif;
	font-weight: 300;
	font-size: 1em;
	color: #333;
}

/* ==============================================
   Hero
===============================================*/

#hero {
	background-color: #ffffff;
	margin: 0;
	padding: 0;
	border-radius: 25px 25px 0 0;
}

#hero h1 {
	font-size: 35px;
	font-weight: 1;
	margin-bottom: 25px;
}

#hero p {
	font-size: 20px;
	font-weight: 300;
	color: #636363;
	text-align: center;
}

#hero span {
	font-weight: 400;
	color: #1f1e1e;
	text-transform: uppercase;
	letter-spacing: .05em;
}

.hero-content {
	margin: 10vw auto;
	text-align: center;
}



/* ==============================================
   Portfolio
===============================================*/

#portfolio, #skills {
	background-color: #f1f1f1;
	border-radius: 0 0 25px 25px;
}

.portfolio-item {
	margin-bottom: 50px;
}

.portfolio-item a{
	color:#333;
}

.portfolio-item .api-link{
	color:var(--accent-color);
}

.card {
	border-radius: 20px;
	border-style: none;
	background-color: #f1f1f1;
}

.card-info {
	margin-top: 0.5em;
	padding-left: 0.25em;
}

.tag-item {
	flex: 1;
	font-size: 16px;
	margin-right: 10px;
	margin-bottom:10px;
	color: white;
	background: var(--accent-color);
	padding: 5px 10px;
	display: inline-block;
	border-radius: 15px;
}
.wsa-img{
	width:850px;
	height:auto;
}
.tab {
	margin-left: 20px;
	margin-right: 20px;
}
.operation{
	margin-bottom: 100px;
}
.operation:last-child{
	margin-bottom: 0px;
}
.api-method{
	flex: 1;
	font-size: 16px;
	margin-right: 10px;
	margin-bottom:10px;
	color: white;
	background: var(--accent-color);
	padding: 5px 10px;
	display: inline-block;
	border-radius: 15px;

}
.code{
	background: #333;
}

.code code{
	color: var(--accent-color);
}
.color-section{
	width:100%;
	margin:0a
}

.color-section .swatch {
	width: 10vw;
	min-width: 75px;
	height: 80px;
	display: inline-block;
	background: #ccc;
	border-radius: 3px;
	margin: 0 1em 1em 0;
	text-align: center;
	line-height: 80px;
	font-size: 14px;
	color: #fff;
}
.color-section .swatch.yellow {
	background: #FFD200;
}
.color-section .swatch.green {
	background: #00862E;
}
.color-section .swatch.black {
	background: #030200;
}
.color-section .swatch.grey {
	background: #6F7071;
}
.color-section .swatch-chatapp-black{
	background: #000000;
}
.color-section .swatch-chatapp-blue{
	background: #2C35D5
}
.color-section .swatch-chatapp-grey{
	background: #242424
}
.color-section .swatch-chatapp-white{
	background: #FFFFFF;
	border: #000000 thin solid;
	color: black;
}
.typography{
		display: flex;
		flex-direction: column;
		justify-content: space-between	
}

.producetype{
	font-family: Catamaran;
	padding:0;
	margin:0;
}
#produceh1{
	font-size: calc(60px + .5vw);
	padding:0;
	margin:0;
}
#produceh2{
	font-size: calc(60px + .5vw);
	color: black;
	padding:0;
	margin:0;
}
#produceh3{
	font-size:2rem;
	
}
#producep{
	font-size:1.25rem;
}

.producebutton{
	display: inline-block;
	background-color: #00862E;
	color: #FFF;
	font-size:1.25rem;
	
	padding: .75rem 1rem;
	border-radius: .5rem;
}


/* ==============================================
   Skills
===============================================*/
.skills ul {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;


}
.skills li{
	margin:0;
	padding:0;
	text-align: center;

}

#skills-list{
	width:100%;
	margin:20px auto;
}
.margin-100{
	margin-bottom: 100px;
}
.margin-100:last-child{
	margin-bottom: 0px;
}


/* ==============================================
   Media Queries
===============================================*/

/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
	h2 {
		font-size: 34px!important;
		margin-bottom: 20px;
		line-height: 1.6;
	}

}

@media (max-width: 768px) {
	#hero h1 {
		font-size: 30px!important;
		margin-bottom: 20px;
	}
	#hero p {
		font-size: 20px!important;
	}
	.border{
		padding: 40px 5px;
	}
	#hero p {
		text-align: center;
	}
}

@media (max-width: 991px) {



}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {

}